<div ng-controller="SearchController as vm" style="height: 100vh;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>Search</span>
      </h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <section layout="row" flex layout-fill>
    <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
      md-whiteframe="4">
      <md-content layout-padding>
        <md-list>
          <md-list-item>
            <md-button ng-class="['md-primary' ,'menu-link' ,'{{vm.activeLink.projects}}']" md-colors="{'border-color': 'accent-600'}" ng-href="/#/">Projects</md-button>
          </md-list-item>
          <md-list-item>
            <md-button ng-class="['md-primary' ,'menu-link' ,'{{vm.activeLink.tags}}']" md-colors="{'border-color': 'accent-600'}" ng-href="/#/tag">Tags</md-button>
          </md-list-item>
          <md-list-item>
            <md-button ng-class="['md-primary' ,'menu-link' ,'{{vm.activeLink.search}}']" md-colors="{'border-color': 'accent-600'}" ng-href="/#/search">Search</md-button>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>
    <md-content layout-padding flex>
      <div layout="column" layout-algin="top-center">
        <form name="searchForm" flex>
          <md-input-container flex="50" layout-fill>
            <md-icon md-font-icon="search">search</md-icon>
            <input placeholder="Search" type="text" ng-model="vm.search">
            <md-progress-linear md-mode="indeterminate" ng-disabled="!vm.isSearching"></md-progress-linear>
          </md-input-container>
        </form>
        <md-list flex>
          <md-subheader class="md-no-sticky">Projects</md-subheader>
          <md-list-item class="md-3-line" ng-repeat="project in vm.results.projects" ng-click="vm.go('/project/' + project.uuid)">
            <div class="md-list-item-text" layout="column">
              <h3 md-highlight-text="vm.search" md-highlight-flags="i">{{ project.name }}</h3>
              <p md-highlight-text="vm.search" md-highlight-flags="i">{{ project.description }}</p>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
          <md-subheader class="md-no-sticky">Documents</md-subheader>
          <md-list-item class="md-3-line" ng-repeat="document in vm.results.documents" ng-click="vm.go('/document/' + document.uuid)">
            <div class="md-list-item-text" layout="column">
              <h3 md-highlight-text="vm.search" md-highlight-flags="i">{{ document.title }}</h3>
              <p md-highlight-text="vm.search" md-highlight-flags="i">{{ document.shortDescription }}</p>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
          <md-subheader class="md-no-sticky">Methods</md-subheader>
          <md-list-item class="md-3-line" ng-repeat="method in vm.results.methods" ng-click="vm.go('/method/' + method.uuid)">
            <div class="md-list-item-text" layout="column">
              <h3 md-highlight-text="vm.search" md-highlight-flags="i">{{ method.name }}</h3>
              <p md-highlight-text="vm.search" md-highlight-flags="i">{{ method.shortDescription }}</p>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
          <md-subheader class="md-no-sticky">Tags</md-subheader>
          <md-list-item class="md-3-line" ng-repeat="tag in vm.results.tags" ng-click="vm.go('/tag/' + tag.uuid)">
            <div class="md-list-item-text" layout="column">
              <h3 md-highlight-text="vm.search" md-highlight-flags="i">{{ tag.label }}</h3>
              <p>{{ tag.projects.length + tag.documents.length + tag.methods.length }} Tagged</p>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </div>
    </md-content>
  </section>
</div>
